extends layout

block content
  div(class="container")
    div(id="everything")
      div(id="editor" class="full-height-pane left-pane")
        iframe(src="http://brownbag.me:9001/p/" + etherpadId + "?showChat=false" height="500px" width="460px" data-etherpad-id=etherpadId)
      div(id="render" class="full-height-pane right-pane")
        div.render-pane-header
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Set Layout
              span.caret
            ul(class='dropdown-menu')
              li
                a(onclick='javascript:userInterfaceInteractor.setType(this)', type='dot')
                  span ✓
                  |dot
              li
                a(onclick='javascript:userInterfaceInteractor.setType(this)', type='neato')
                  span 　
                  |neato
              li
                a(onclick='javascript:userInterfaceInteractor.setType(this)', type='circo')
                  span 　
                  | circo
              li
                a(onclick='javascript:userInterfaceInteractor.setType(this)', type='fdp')
                  span 　
                  | fdp
              li
                a(onclick='javascript:userInterfaceInteractor.setType(this)', type='sfdp')
                  span 　
                  | sfdp
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Import Tutorial
              span.caret
            ul(class='dropdown-menu')
              li
                a(onclick='javascript:etherpadWhisperer.importTutorial(1)').
                  Simplest Diagrams
              li
                a(onclick='javascript:etherpadWhisperer.importTutorial(2)').
                  Advanced Attributes
              li
                a(onclick='javascript:etherpadWhisperer.importTutorial(3)').
                  With Subgraphs
          code.this-page-link graphvizrepl.com/#{etherpadId}
        img(id='graph' class="graph-image")
        pre(id="msg", class="alert alert-block")
