extends layout

block content
  div(id="everything", class="row")
    div(id="editor", class="span6")
      iframe(src="http://piratepad.be/p/" + etherpadId + "?showChat=false" height="500px" width="460px" data-etherpad-id=etherpadId)
    div(id="render", class="span6")
      h4 #{etherpadId}
      img(id='graph' class="graph-image")
      pre(id="msg", class="alert alert-block")
