extends layout

block content
  div(class="container")
    div(id="everything")
      div(id="editor" class="full-height-pane left-pane")
        iframe(src="https://pad.systemli.org/p/" + etherpadId + "?showChat=false" height="500px" width="460px" data-etherpad-id=etherpadId)
      div(id="render" class="full-height-pane right-pane")
        h4 #{etherpadId}
        img(id='graph' class="graph-image")
        pre(id="msg", class="alert alert-block")
        .btn-group.dropup(style="position:absolute;bottom:5px;right:5px;")
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Layout
            span.caret
          ul(class='dropdown-menu')
            li
              a(onclick='javascript:setType(this)', type='dot')
                span ✓
                |dot
            li
              a(onclick='javascript:setType(this)', type='neato')
                span 　
                |neato
            li
              a(onclick='javascript:setType(this)', type='circo')
                span 　
                | circo
            li
              a(onclick='javascript:setType(this)', type='fdp')
                span 　
                | fdp
            li
              a(onclick='javascript:setType(this)', type='sfdp')
                span 　
                | sfdp
        .btn-group.pull-right
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Tutorials
            span.caret
          ul(class='dropdown-menu')
            li
              a(onclick='javascript:importTutorial(1)')
                Simplest Diagrams
            li
              a(onclick='javascript:importTutorial(2)')
                Advanced Attributes
            li
              a(onclick='javascript:importTutorial(3)')
                With Subgraphs
