extends layout

block content
  div(id="everything", class="row")
    div(id="editor", class="span6")
      iframe(src="http://piratepad.be/p/yourpadname?showChat=false" height="600px" width="400px")
      textarea(class="span6", id='dot', rows='20')
    div(id="render", class="span6")
      img(id='graph' style='max-height:80vh')
  div(class="row")
    pre(id="msg", class="alert alert-block")
